/* 
File: style.css
GUI Assignment: Creating my first webpage
Matt Fox, UML CS, matthew_fox1@student.uml.edu
Date: September 3, 2025
Description: Styles for my first web page
*/


body {
    font-family: Arial, sans-serif;
    margin: 25px;
    background-color: #f9f9f9;
    color: #333;
  }
  
  h1 {
    color: rgb(198, 36, 36);
    text-align: center;
  }
  
  h2 {
    color: rgb(3, 118, 3);
    margin-top: 30px;
    
  }
  
  p {
    line-height: 1.6;
  }
  
  a {
    color: darkred;
    text-decoration: none;
  }
  
  th {
    background-color: #ddd;
    padding: 8px;
    border: 1px solid #333;
  }
  
  td {
    padding: 8px;
    text-align: left;
    border: 1px solid #333;
  }
  